/*Обнуление*/
*,*:before,*:after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif;

}
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}
.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.parallax{
    position: relative;
    height: 100%;
}
.parallax__montain{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.parallax__montain_1{
    background: url('../img/m_1.png') 0 0 / cover no-repeat;
}
.parallax__montain_2{
    background: url('../img/m_2.png') bottom right / 45% no-repeat;
    z-index: 1;
}
.parallax__montain_3{
    background: url('../img/m_3.png') left bottom / 100% no-repeat;
    z-index: 1;
}
.parallax__fog{
    background: url('../img/fog_1.png') bottom / 100% no-repeat;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}
.content{
    position: relative;
}
.content__body{
    max-width: 1170px;
    margin: 0 auto;
}
.content__header{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding: 0px 20px;
}
.content__title{
    font-size: 200px;
    color: white;
}
.content__subtitle{
    font-size: 50px;

}
.content__article{
    padding: 25px;
    font-size: 18px;
    line-height: 24px;
}
.content__article p {
    margin-bottom: 20px;
    
}
a.button {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
  } 
a.button:hover { background: rgb(53, 167, 110); }
a.button:active {
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
  }